<div class="container">
  <form class="form-signin" name="loginForm">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">User:</label>
    <input type="text" name="usenamer" [(ngModel)]="username" class="form-control" placeholder="User name" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="doLogin()">Sign in</button>
  </form>

</div>
<!-- /container -->
